@CHARSET "UTF-8";
.big_command .command-bar .main {
  font-size: 50px;
  width: 640px; }

.big_command .command-bar .main .logo, .big_command .command-bar .main .text-side, .big_command .command-bar .main .input-side .command-input {
  height: 50px; }

.big_command .command-bar .main .input-side {
  position: relative; }

.big_command .command-bar .main .input-side .command-input {
  position: absolute;
  top: 3px;
  width: 240px; }

.big_command .command-bar .main .logo {
  width: 50px; }

.big_command .command-bar .main .placeholder {
  top: 20px;
  font-size: 25px;
  left: -10px; }

.big_command .command-input::-webkit-input-placeholder {
  font-size: 30px !important;
  bottom: 5px;
  position: relative; }

.big_command .command-input::-moz-placeholder {
  font-size: 30px !important;
  bottom: 5px;
  position: relative; }

.big_command .command-input:-ms-input-placeholder {
  font-size: 30px !important;
  bottom: 5px;
  position: relative; }

.big_command .command-input:-moz-placeholder {
  font-size: 30px !important;
  bottom: 5px;
  position: relative; }

.big_command .result-list {
  width: 400px; }
