.btn4{
	width: 120px;
}

.hideBox{
	display: none;
}

#DirBox{
	width:25%;
	display:block;
}

#FileBox{
  width:25%;
  display:block;
}

#DirBoxx{
  width:25%;
  display:block;
}

#FileBoxx{
  width:25%;
  display:block;